---
layout: default
title: Das FabLab Cottbus produziert Hilfsmittel
permalink: /help/
info_text: |

---
<!-- über das projekt -->
<div class="row" xmlns="http://www.w3.org/1999/html">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Maker vs. Virus</h1>
            <h2 class="blue about-subline">Wir helfen mit der Produktion von Gesichtsvisieren und -masken. Fragt uns an!</h2>
            <div class="subpage-content">
                <p><strong>Das Problem</strong></p>
                <p>Es gibt gravierende Engpässe bei der Versorgung mit medizinischer Schutzausrüstung für Krankenhäuser, niedergelassener Ärzte und Pflegeeinrichtungen. Daraus resultiert eine massive Gefährdung ihrer Patienten sowie gerade derer, die tagtäglich versuchen die Corona-Pandemie im Zaum zu halten und unser Gesundheitssystem vor dem Kollaps zu bewahren.</p>
                <!-- include floated image -->
                {% include partials/content/content-float-image.liquid float="left"
                src="/assets/img/static/hilsmittel_xhain.jpeg" caption="Bild: Visiere, Produziert durch den <a href='https://x-hain.de/de/'>xHain Hacker- und Makerspace</a>." %}
                <p><strong>Du benötigst Visiere oder Masken? Frage uns an!</strong></p>
                <p>
                    Wir produzieren kostenlos 3D-gedruckte Gesichtsvisiere sowie genähte Behelfsmasken und spenden sie an Bedürftige. Diese mindern die Wahrscheinlichkeit, andere durch eine Tröpfcheninfektion zu infizieren. Wenn du durch deine Arbeit mit gefährdeten Gruppen oder Personen in Kotankt kommen musst - wie z.B. in der Pflege, in einer Praxis oder im Krankenhaus - dann frage uns an.
                    <center><a class="edu-btn black" href="mailto:info@fablab-cottbus.de?subject=&#32;Anfrage zu Hilfsmitteln&body=Liebes&#32;FabLab,&#32;ich&#32;benoetige&#32;die&#32;folgende&#32;Anzahl&#32;Masken&#32;oder&#32;Visiere&#32;und&#32;arbeite&#32;für&#32;die&#32;folgende&#32;Einrichtung." target="_blank">Jetzt anfragen</a></center>
                </p>
                <p><strong>Du möchtest helfen? So geht's.</strong></p>
                <p>
                    Wir sind Teil des <a href="https://offene-werkstaetten-brandenburg.de/">Netzwerkes Offener Werkstätten Brandenburg</a>, das derzeit Bedarfe bündelt und an die lokalen Werkstätten verteilt. Wenn du einen 3D-Drucker hast oder Materialien, wie Overhead-Folien, Deckplattfolien oder Stoff, <a href="mailto:info@fablab-cottbus.de">dann melde dich bei uns.</a> Außerdem freuen wir uns über Spenden für den Verschleiß unserer Drucker sowie die Filamentkosten.
                    <br><br>
                    Inhaber: FabLab Cottbus e.V.<br>
                    Bank: Sparkasse Spree-Neiße<br>
                    IBAN: DE27180500000190035943 / BIC: WELADED1CBN<br>
                    Konto-Nr.: 0190035943 / BLZ: 18050000

                </p>
                <p><strong>Wo du uns findest</strong></p>
                <div class="video"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=14.322588443756105%2C51.768205060201296%2C14.324463307857515%2C51.76913623767164&amp;layer=mapnik&amp;marker=51.76867065133769%2C14.323525875806808" style="border: 1px solid black"></iframe></div>
                <p>Walther-Pauer-Straße 5, 03044 Cottbus</p>
            </div>
        </div>
    </section>
    <!-- team

    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap subpage-content">
                <h2 id="team" tabindex="-1" class="section-headline">Vorstand</h2>
            </div>

            {% include partials/member-teasers.liquid %}
        </section>
    </div>
    -->
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
